# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Virtual environments
# =========================
.venv/
venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# ML artifacts / models
# =========================
data/models/*
!data/models/.gitkeep

*.pkl
*.joblib

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Logs
# =========================
*.log

# =========================
# Tutor material
# =========================
tutorial/